<% @teams.each do |team| %>
  <tr>
    <td><%= link_to team.name, team_path(team)%></td>
    <% if team.odds > 0 %>
      <td>+<%= team.odds %></td>
    <% else %>
      <td><%= team.odds %></td>
    <% end %>
    <td><%= number_to_currency(team.bets.sum(:amount_bet), :precision => 0) %></td>
    <td><%= number_to_currency(team.bets.sum(:payout), :precision => 0)%></td>

    <td width="3%">

        <%= link_to edit_team_path(team), remote: true do %>
          <i class="glyphicon glyphicon-pencil"></i>
        <% end %>

    </td>
    <td>

        <%= link_to team, method: :delete, data: { confirm: 'Are you sure?' }, class: "delete_team", remote: true do %>
          <i class="glyphicon glyphicon-remove-circle" ></i>
        <% end %>

    </td>
  </tr>
<% end %>
