<div class="container">
  <div class="row">
    <h1><%= @team.name %></h1>
    <% if @team.odds > 0 %>
      <h4>Current Odds: +<%= @team.odds %></h4>
    <% else %>
    <h4>Current Odds: <%= @team.odds %></h4>
    <% end %>
  </div>
  <div class="row tableDiv">
    <div class="col-md-9">
      <div id="tableContainer" class="tableContainer">
        <table class="table table-condensed table-hover scrollTable sortable" id="bets">
          <thead class="fixedHeader">
            <tr>
              <th>Bet Date</th>
              <th>Team</th>
              <th>Odds</th>
              <th>Amount Bet</th>
              <th>Payout</th>
            </tr>
          </thead>

          <tbody class="bet-index scrollContent">
            <%= render 'bets/index' %>
            <tr class="totals">
              <td>Totals</td>
              <td></td>
              <td></td>
              <td><%= number_to_currency(@bets.sum(:amount_bet), :precision => 0) %></td>
              <td><%= number_to_currency(@bets.sum(:payout), :precision => 0) %></td>
            </tr>
          </tbody>
        </table>
      </div>
      <hr />

      <div class="newBetDiv">
            <%= link_to 'New Bet', new_bet_path, remote: true, class: "btn btn-success new_bet_btn" %><br/ >
      </div>

      <hr />

      <div class="homepageDiv">
            <%= link_to 'Back to Main Page', root_path, class: "btn btn-primary new_bet_btn" %><br/ >
      </div>


      <div id="betModal" class="modal fade">
      </div>

    </div>
  </div>
</div>
