<% @bets.each do |bet| %>
  <tr>
    <td><%= bet.bet_date %></td>
    <td><%= bet.team.name %></td>
    <% if bet.odds > 0 %>
          <td>+<%= bet.odds %></td>
    <% else %>
          <td><%= bet.odds %></td>
    <% end %>
    <td><%= number_to_currency(bet.amount_bet) %></td>
    <td><%= number_to_currency(bet.payout)%></td>


    <td width="3%">

        <%= link_to edit_bet_path(bet), remote: true do %>
          <i class="glyphicon glyphicon-pencil"></i>
        <% end %>

    </td>
    <td>

        <%= link_to bet, method: :delete, data: { confirm: 'Are you sure?' }, class: "delete_bet", remote: true do %>
          <i class="glyphicon glyphicon-remove-circle" ></i>
        <% end %>

    </td>
  </tr>
<% end %>
